name: Page Deploy

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

permissions: {}

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
          pages: write
        steps:
          - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            with:
              submodules: true
              persist-credentials: false

          - name: Get npm cache directory
            id: npm-cache-dir
            shell: bash
            run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

          - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
            id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
            with:
              path: ${{ steps.npm-cache-dir.outputs.dir }}
              key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
              restore-keys: |
                ${{ runner.os }}-node-

          - name: Setup Node.js environment
            uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
            with:
              node-version: latest
    
          - name: "Clean install"
            run: npm install
    
          - name: "Build Corporate Time"
            run: npm run build

          - name: Copy for '_site/'
            run: |
              mkdir -p _site/
              mv -v dist index.html _site/

          - name: Upload artifact
            uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
            with:
              # Upload entire repository
              path: '_site/'
            
